<table class="tabela">
  <thead class="tabela__cabecalho">
    <th class="tabela__cabecalho__conteudo">Data</th>
    <th class="tabela__cabecalho__conteudo">Destino</th>
    <th class="tabela__cabecalho__conteudo">Valor</th>
  </thead>
  <tbody>
    <tr class="tabela__linha" *ngFor="let t of transferencias">
      <td class="tabela__conteudo">{{t?.data | date:"short"}}</td>
      <td class="tabela__conteudo">{{t?.destino }}</td>
      <td class="tabela__conteudo">{{t?.valor | currency}}</td>
    </tr>
  </tbody>
</table>

